{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">Go to homepage</a>
        <a href="{{ path('addmovie') }}">Add a new movie</a>
    </div>


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Trailer</th>
                <th>Length</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            {% if movies|length == 0 %}
                <tr>
                    <td colspan="5">There are no movies in the database</td>
                </tr>
            {% endif %}

            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td><a href="{{ movie.trailer }}" target="_blank">Go to trailer</a></td>
                <td><span>{{ movie.length }}</span> minutes</td>
                <td>{{ movie.released }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        div a {
            display: block;
        }

        table {
            color: white;
            background-color: slategrey;
            width: 80%;
            margin: 0 auto;
        }

        td, th {
            padding: 10px;
        }

        td a, td a:hover {
            color: gold;
        }

        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
    </style>
{% endblock %}